.dropdown {
  position: absolute;
  right: 0;
  top: 140%;
  width: max-content;

  background-color: #fff;
  padding: 1em;
  border: 3px solid #000;

  opacity: 0;
  &[open] {
    opacity: 1;
  }
  z-index: 3;

  .cart-items {
    max-height: 30em;
    overflow-y: scroll;
  }
}

.drop-down-checkout-btn {
  padding-inline: 2em;
  width: 100%;
  margin-top: 1em;
}
