.dropdown {
  position: absolute;
  right: 0;
  top: 140%;
  width: max-content;

  background-color: #fff;
  padding: 1em;
  border: 3px solid #000;

  opacity: 0;
  &[open] {
    opacity: 1;
  }
}

.drop-down-checkout-btn {
  padding-inline: 2em;
}
