.btn {
  padding: 1em 0.5em;
  background-color: #000;
  color: #fff;
  transition: 200ms;
  border: 2px solid #000;

  &.default:hover {
    background-color: #fff;
    color: #000;
  }

  &.google {
    background-color: blue;
    border-color: blue;
    &:hover {
      background-color: rgb(149, 149, 243);
    }
  }

  &.inverted {
    background-color: #fff;
    color: #000;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
