.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
  .category {
    padding: 7em;
    background-size: cover;
    background-position: center;
    background-color: #000000a9;
    background-blend-mode: multiply;
    color: #fff;

    button {
      padding: 1em;
      font-size: inherit;
    }
  }
}
